h1, .h2_title{
    border: solid 3px green;
    color: blue;
    text-align: center;
    background-color: azure;
    margin-bottom: 0;
    margin-top: 0;
}

.identification_tittle{
    background-color: #dfebef;
    margin: 0;
    padding: 10px 5px;
    color: rgb(39 16 223);
}

.carrito_de_compras{
    text-align: right;
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
}

#product_list{
    display: flex;
}

#form_add{
    display: flex;
    flex-direction: column;
    color: red;
}

.add_product_element{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 45px;
}

.add_product_label{
    list-style: square;
    color: blue;
    padding: 8px;
}

.add_product_input{
    width: 400px;
    height: 10px;
    padding: 8px;
}

#form_delete{
    display: flex;
    flex-direction: column;
    color: blueviolet;
}

li{
    padding: 5px;
    margin: 3px;
}

.delete_button{
    border-radius: 5px;
    border: red solid 2px;
    background-color: orange;
    color: blue;
}

.delete_button:hover{
    font-size: 16px;
    font-weight: bolder;
}

#submit_button_list{
    list-style: none;
}

#submit_button, #add_button_to_cart{
    border-radius: 5px;
    list-style: none;
    background-color: orange;
    font-weight: bolder;
    color:blueviolet;
}

.add_button{
    border-radius: 5px;
    list-style: none;
    background-color: orange;
    font-weight: bolder;
    color:blueviolet;
}

#submit_button:hover, #add_button_to_cart:hover{
    font-size: 16px;
    font-weight: bolder;
}

#add_product, #delete_product{
    border-radius: 5px;
    color: red;
    padding: 3px;
    font-weight: bold;
    margin: 5px;
    margin-top: 20px;
}

.span_bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 50px;
    padding: 10px 0;
}

#chatbox{
    border: solid blue 3px;
    width: 300px;
    height: 20px;
}

.chat_link{
    border: solid red 2px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    font-size:large;
    max-width: 45vw;
}

.chat_link:hover{
    font-size: larger;
}

.listCollection{
    background-color: aliceblue;
    padding: 10px;
}

.pageFooter{
    display: flex;
    align-items: self-end;
    justify-content: center;
    background-color: azure;
}

.pageBreak{
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    font-weight: bolder;
}

.pageFoot{
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
    padding: 5px 20px 0px 20px;
    margin: 10px;
    font-weight:500;
}

.field_register_form{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin: 2px 5px;
    padding: 3px;
}

.input_register_form{
    padding: 5px;
    width: 30%;
}

.container{
    display: flex;
    align-items: center;
}

.icon_show{
    font-size: 20px;
    transform: translateX(-30px);
    cursor: pointer;
}

.icon_show:hover{
    font-size: 25px;
}

.h4_password{
    padding: 5px;
    margin: 5px 0px 50px 0px;
}

.icon_cart_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0;
}

.icon_cart{
    font-size: 22px;
    cursor: pointer;
    color: blue;
    padding: 5px;
    margin: 0 10px;
}

.icon_cart:hover{
    font-size: 24px;
    color: blueviolet;
}

.cart_main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_reset_password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input_reset_form{
    border: solid 2px green;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
}

.cart_section_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 10px;
    border: solid green 2px;
    border-radius: 5px;
}

.cart_label{
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart_div_container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.total_cart_label{
    font-size: 18px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.total_general_compra{
    font-size: 18px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

.total_general_compra_span{
    font-size: 22px;
    color: red;
    border: solid 2px green;
    border-radius: 6px;
    padding: 3px 6px;
    border-bottom: 15px;
    box-shadow: 0 3px 5px rgb(10, 62, 10);
}

.btn-outline-danger{
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0;
    margin-top: 2%;
}

.btn-outline-danger:hover{
    padding: 6px 10px;
}

.buy_button{
    margin-top: 10px;
}

.link_into_theCart{
    padding: 10px 10px 10px 0;
    margin-top: 20px;
}

.btn-outline-success{
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px;
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.btn-outline-success:hover{
    font-size:18px;
    color: orange;
}

.carrito_vacio{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cart_legend{
    font-size: 25px;
    font-weight: 800;
    color: blueviolet;
}

.solid_line{
    color: green;
    border: solid;
    width: 100%;
    background-color: azure;
}

.register_success_container{
    display: flex;
    justify-content: center;
}

.register_success-body{
    height: 500px;
    width: 95%;
    background-color: #cfe7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    font-weight: 800;
}

.register_success_footer{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 25px;
    font-size: 20px;
}

.login_link_footer:hover, .products_link_footer:hover{
    font-size: 26px;
}

.texto_libre{
    font-size: 18px;
    padding: 5px;
    margin: 20px 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.h3_title{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}